<div class="container h-100">
  <form class="row h-100 my-auto mt-3" action="/restaurants" method="POST" onsubmit="return editCheckAgain()">
    <div class="new-wrapper-left h-75 my-auto col-6 col-md-6" style="padding: 0 5rem;">
      <input required type="text" placeholder="中文名稱" name="name" class="form-control input-area">
      <input type="text" placeholder="name in English" name="name_en" class="form-control input-area">
      <input required type="text" placeholder="category" name="category" class="form-control input-area">
      <input type="text" placeholder="location" name="location" class="form-control input-area">
      <input type="text" placeholder="phone" name="phone" class="form-control input-area">
      <input type="text" placeholder="rating" name="rating" class="form-control input-area">
      <div class="input-group">
        <textarea class="form-control" name="google_map" aria-label="With textarea" placeholder="google_map"
          style="height: 7rem;"></textarea>
      </div>
    </div>
    <div class="new-wrapper-right h-75 my-auto col-6 col-md-6 d-flex flex-column justify-content-around"
      style="padding-right: 5rem;">
      <div class="input-group mb-2">
        <textarea class="form-control new-img-input mt-4" name="image" aria-label="With textarea" placeholder="image url"
          style="height: 5rem;"></textarea>
      </div>
      <img class="new-img-display mx-auto" style="height: 14rem; background: #f7f8fa;">
      <div class="input-group">
        <textarea class="form-control" name="description" aria-label="With textarea" placeholder="description"
          style="height: 10rem;"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-danger col-4 m-auto">Create</button>
  </form>

</div>